
    
    .container{
        padding: 10px;
    }
    label{
        clear: both;
        float: left;
    }
    input{
        clear: both;
        float: left;
        width: 20%;
        margin-bottom: 10px;
    }
    input[type=text]
    {
        clear:none;
        float:left;
        width: 20%;
        height: 20%;
        margin-left:10px;
    }
    input[type=submit]
    {
        clear:none;
        float:left;
        margin-left:10px;
        width:4%;
    }
